body{
    background-color: plum;
}

div {
    width: 200px;
    height: 100px;
    margin: 10px;
}

#predefined-colors{
    background-color: rebeccapurple;
}

#hexadecimal-colors{
    background-color: #87e6b6;
}

#short-hexadecimal-colors{
    background-color: #567;
}

#rgb-function{
    background-color: rgb(100, 20,63);
}

#rgba-function{
    background-color: rgba(67, 67, 253, 0.829);
}