.flex-item{
    background-color: darkgreen;
    color: darkseagreen;
    font-family: "Lato", sans-serif;
    border: 1px solid olive;
    padding: 10px;
    margin: 5px;
    flex-basis: 28%;
    max-width: 220px;
}
.flex-item:nth-last-of-type(odd){
    background-color: olive;
    color: darkkhaki;
    /* max-height: 150px; */
}

.container{
    border: 2px dashed darkcyan;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    /* align-items: stretch; */
    align-items: center;
    align-items: baseline;
   
}