body{
    box-sizing: content-box;
    font-family: 'Roboto';
    color: white;
}
.justify-end{
    justify-content: flex-end;
}
.nav-link{
    font-weight: 100;
    text-transform: uppercase;
    color: white;
    &:hover{
        color:#ffc107;
    }
}
header{
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-text{
    text-align: center;
}
.justify-center{
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
}
h1{
    text-transform: uppercase;
    font-weight: 700;
}
h2{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.btn-color{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
h3{
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}
small{
    font-style: italic;
    color: gray;
}
.section-header{
    text-align: center;
}

.section-elements{
    display: flex;
    text-align: center;
    padding-top: 80px;
    i{
        display: inline-block;
        border-radius: 50%;
        background-color: #ffc107;
        border: 20px solid #ffc107;
        font-size: 35px;
        width: 80px;
        height: 80px;
        padding-bottom: 15px;
    }
}
.text-wrapper{
    
    h4{
        color: black; 
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    p{
        color: gray;
        font-size: small;
        padding-right: 5px;
        padding-left: 5px;
    }
}
.portfolio{
    background-color: rgb(240, 240, 240);
}